.container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.3em 0 0.3em 1em;
  box-sizing: border-box;
}

.groupPicture {
  width: 2.4em;
  height: 2.4em;
}

.groupName {
  color: white;
  font-size: 0.9em;
  padding-left: 1em;
}

#selected {
  background-color: var(--selected-group-bg);
}
