.container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.3em 0 0.3em 0.6em;
  box-sizing: border-box;
  border-style: none none none solid;
  border-color: transparent;
}

.groupPicture {
  width: 2.3em;
  height: 2.3em;
}

.groupName {
  color: white;
  font-size: 0.9em;
  padding-left: 1em;
}

#selected {
  background-color: var(--selected-group-bg);
  border-style: none none none solid;
  border-color: var(--ribble-accent-col);
}
