.container {
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 0.6em;
  padding-left: 1em;
  box-sizing: border-box;
}

.container:hover {
  background-color: var(--group-hover-bg);
}

.groupPicture {
  width: 2.4em;
  height: 2.4em;
}

.groupName {
  color: white;
  font-size: 0.9em;
  padding-left: 1em;
}
