#joinGroupButton {
  padding: 0.1em 0 0 0.7em;
  font-size: 1em;
}

#utils {
  display: flex;
  align-items: center;
  height: 2em;
  box-sizing: border-box;
  padding: 0.2em 0.2em 0.2em 0.6em;
}

#searchBar {
  display: flex;
  background-color: var(--search-bar-bg);
  box-sizing: border-box;
  padding: 0.2em;
  height: 90%;
  width: 80%;
  align-items: center;
}

#searchIcon {
  color: var(--form-place-holder-col);
  font-size: 0.9em;
  padding: 0 0.3em;
}

#searchForm {
  outline: none;
  border: solid;
  width: 90%;
  border-width: 0.2em;
  border-color: black;
  background-color: var(--search-bar-bg);
  border-color: var(--search-bar-bg);
  color: white;
}

#listContainer {
  background-color: var(--side-panel-bg);
  display: flex;
  flex-direction: column;
  height: 95%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding-top: 0.2em;
  padding-bottom: 0.1em;
  overflow-y: overlay;
  overflow-x: hidden;
}
