.container {
  margin-bottom: auto;
  height: var(--top-bar-height);
  min-height: var(--top-bar-height);
  color: white;
  background-color: var(--bar-bg);
  display: flex;
  align-items: center;
  border-bottom: solid;
  border-width: thin;
  border-color: var(--chat-box-border-line-col);
}

.groupTitle {
  display: flex;
  padding-left: 0.05em;
}

.groupName {
  padding-top: 0.4em;
  font-size: 1.1em;
  font-weight: bold;
  color: white;
}

.panelContainer {
  margin-left: auto;
  margin-right: 0.2em;
}

@import "index.scss";
.groupPicture {
  @extend .groupPicture;
  width: 2.3em;
  height: 2.3em;
  padding: 1em;
}
