.messageText {
  color: var(--message-text-col);
  background-color: var(--chat-bubble-bg);
  padding: 0.8em;
  margin: 0;
  border-radius: 0.5em;
  font-size: 0.9em;
  overflow-wrap: break-word;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
}

.container {
  display: grid;
  grid-template-columns: 70%;
  padding-top: 0.5em;
}

.self {
  justify-content: end;
  justify-items: end;
}

.other {
  justify-items: start;
}

.self > .messageText {
  background-color: var(--ribble-accent-col);
}
