.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--util-panel-bg);
  width: 4.5em;
}

.panelContainer {
  height: 100%;
  width: 100%;
}

.title {
  height: var(--top-bar-height);
  display: flex;
  align-items: center;
  color: white;
  font-size: 0.9em;
  font-weight: bold;
  margin: 0;
}
