code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --ribble-accent-col: #0092ab;
  --ribble-accent-light: #2dc2db;

  --authentication-bg: #191919;
  --login-form-bg: #26282a;

  --util-panel-bg: #191919;
  --group-panel-bg: #242527;
  --bar-bg: #1f2022;
  --group-search-bg: #242527;
  --search-bar-bg: #191919;
  --selected-group-bg: #2e3133;
  --chat-box-bg: #1f2022;
  --chat-bubble-bg: #2e3133;
  --chat-box-border-line-col: #323437;

  --message-text-col: white;
  --form-bg: #1f2022;
  --form-place-holder-col: #9f9f9f;
  --scroll-bar-col: rgba(0, 0, 0, 0.5);

  --top-bar-height: 4rem;
  --group-item-height: 3.5rem;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-bar-col) transparent;
}

.groupPicture {
  border-radius: 50%;
}

.iconButton {
  color: white;
  background: transparent;
  border: none;
  font-size: 1.2em;
  padding-right: 1em;
  outline: none;
}

.iconButton:hover {
  color: #cdcdcd;
}

::placeholder {
  color: var(--form-place-holder-col);
}

::-webkit-scrollbar {
  width: 0.4em;
}

::-webkit-scrollbar-thumb {
  background: var(--scroll-bar-col);
  border-radius: 3em;
}
