#registerForm {
  display: flex;
  flex-direction: column;
  width: 15em;
}

#registerForm > input {
  border-radius: 10px;
  padding: 0.6em;
  margin: 1em;
  border: none;
  outline: none;
}

#registerForm input[type="text"],
#registerForm input[type="password"] {
  padding: 0.6em 1em;
}

#submitButton {
  color: white;
  background-color: var(--ribble-accent-col);
}

#submitButton:hover {
  background-color: var(--ribble-accent-light);
}
