.formItem {
  display: flex;
  flex-direction: column;
  color: gray;
  padding-bottom: 0.6em;
}

.formItem label {
  font-size: 0.6em;
}

.formItem input {
  margin-top: 0.6em;
}

.submitButton {
  margin-top: 1em;
}
